
*.ide
*.lock
.vs/EchoPractice4Test/DesignTimeBuild/.dtbcache
obj/Debug/netcoreapp3.1/EchoPractice4Test.csproj.CopyComplete
obj/Debug/netcoreapp3.1/EchoPractice4Test.csproj.FileListAbsolute.txt
*.ide-shm
*.ide-wal
bin/*
obj/*
